:root {
    --primary-color: #5924ed;
    --secondary-black: #0d081a;
    --secondary-gray: #48464b;
    --body-bg: #efebfa;
}

.aboutStyles {
    font-family: 'Josefin Sans', sans-serif;
}

.container {
    padding: 10rem 0 2rem 0;
}

.top-section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.left {
    flex: 3;
}

.right {
    flex: 2.5;
}

.about__subheading {
    font-size: 2.2rem;
    margin-bottom: 2rem;
}

.about__subheading span {
    background-color: var(--deep-dark);
    color: #5924ed;
    font-weight: 700;
    padding: 0.5rem;
    border-radius: 8px;
}

.about__heading {
    font-size: 3.6rem;
    margin-bottom: 3rem;
}

.about__info {
    margin-bottom: 4rem;
}

.about__info p {
    max-width: 100%;
    font-size: 1.8rem;
}

.right img {
    box-shadow: 0px 8px 12px 0 var(--primary-color);
}

.about__info__items {
    margin-top: 15rem;
}

.about__info__item {
    margin-bottom: 10rem;
}

.about__info__heading {
    font-size: 3.6rem;
    text-transform: uppercase;
    color: #ff8906;
}

@media only screen and (max-width: 768px) {
    .top-section {
        flex-direction: column;
        gap: 5rem;
    }
    .about__subheading {
        font-size: 1.8rem;
    }
    .about__heading {
        font-size: 2.8rem;
    }
    .about__info__heading {
        font-size: 3rem;
    }
}