/* Contact Section */

#contact {
    padding: 5rem 0;
}

#contact .wrapper {
    /* padding-top: 2rem; */
    display: flex;
    align-items: flex-start;
    justify-content: center;
    gap: 5rem;
}

#contact .wrapper .left {
    flex: 1;
}

#contact .wrapper .right {
    flex: 1;
}

#contact .left .contact-heading {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 3rem;
    margin-bottom: 1rem;
}

#contact .left .contact-desc {
    color: var(--secondary-gray);
    margin-bottom: 4rem;
}

#contact .left .contact-info {
    margin-bottom: 5rem;
}

#contact .left .contact-column-heading {
    font-size: 2.5rem;

}

#contact .left .contact-info ul {
    list-style: none;
}

#contact .left .contact-info ul li {
    border-radius: 12px;
    overflow: hidden;
}

#contact .left .contact-info ul li a {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
    font-size: 2rem;
    padding: 1.5rem;
    pointer-events: none; /*--------------remove this here--------------------*/
}

#contact .left .contact-info ul li:hover {
    background-color: var(--primary-color);
}

#contact .left .contact-info ul li:hover .icon {
    color: white;
}

#contact .left .contact-info ul li:hover .text {
    color: white;
}

#contact .left .contact-info ul li a .icon {
    width: 25px;
    color: var(--primary-color);
}

#contact .left .contact-info ul li a .text {
    color: var(--secondary-gray);
}

#contact .left .social-info ul {
    display: flex;
    list-style: none;
    font-size: 2rem;
    gap: 1rem;
    margin-left: 15px;
    margin-top: 10px;
}

#contact .left .social-info ul li a {
    color: var(--primary-color);
    transition: all 0.3s;
    padding: 5px 10px;
}

#contact .left .social-info ul li a:hover {
    color: white;
    background-color: var(--primary-color);
    border-radius: 5rem;
}

#contact .right .form-wrapper {
    background-color: var(--primary-color);
    max-width: 500px;
    margin: 0 auto;
    padding: 5rem;
    border-radius: 12px;
    color: white;
}

#contact .right .form-group {
    margin-bottom: 1rem;
}

#contact .right .form-group label {
    margin-bottom: 0.5rem;
    display: inline-block;
    font-size: 1.8rem;
}

#contact .right .form-group .input-wrapper {
    background-color: white;
    color: black;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 40px;
    border-radius: 4px;
    overflow: hidden;
}

#contact .right .form-group .input-wrapper .icon {
    font-size: 2rem;
    height: 100%;
    width: 50px;
    background-color: rgb(218, 218, 218);
    display: flex;
    align-items: center;
    justify-content: center;
}

#contact .right .form-group .input-wrapper input {
    padding: 1rem;
    height: 100%;
    width: 100%;
    outline: none;
    border: none;
    font-size: 2rem;
}

#contact .right .form-group textarea {
    width: 100%;
    height: 250px;
    resize: vertical;
    font-size: 2rem;
    padding: 1rem;
    outline: none;
    border-radius: 4px;
}

#contact .right .form-wrapper button {
    display: inline-block;
    width: 150px;
    font-size: 2rem;
    text-transform: uppercase;
    height: auto;
    padding: 1.2rem 0 1rem 0;
    font-family: 'Josefin Sans', sans-serif;
    letter-spacing: 0.3rem;
    border-radius: 8px;
    outline: none;
    border: none;
    cursor: pointer;
    transition: all 0.3s;
}

#contact .right .form-wrapper button:hover {
    transform: translateY(-5px);
}

@media only screen and (max-width: 768px) {
    #contact .wrapper {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    #contact .right {
        width: 100%;
    }
    #contact .right .form-wrapper {
        padding: 3rem;
        width: 100%;
        max-width: 100%;
    }
}